<h3>Ranking</h3>
<!--いいね多い順ランキング表示-->
<% @all_ranks.each.with_index(1)  do |post, i| %>
<p>
No.<%= i %>
<%= attachment_image_tag post, :post_image, size: "300x300" %>
<%= post.shop_name %>
<i class="fa fa-heart unlike-btn"></i><%= post.favorites.length %>
</p>
<% end %>