<div class="container">
  <div class="row">
    <div class="col">

    <div class="mx-5 text-center">
      <div class="about">
        <img src= "assets/IMG_7477.jpg">
        <p>こちらは、おすすめのカフェを投稿できるサイトです。</br>
        カフェ好きな人や興味のある人</br>
        おしゃれな雰囲気や落ち着いた空間が好きな人</br>
        ぜひ、こちらのサイトで交流しましょう！
        </p>
        
      </div>
    </div>
    
    </div>
  </div>
</div>