<div class="a">
    <!--<div><img class="c" src="assets/top.jpeg"></div>-->
    <!--<div><img class="c" src="assets/IMG_7477.jpg"></div>-->
    <!--<div><img class="c" src="assets/IMG_7800.JPG"></div>-->
    <!--<div><img class="c" src="assets/IMG_7787.JPG"></div>-->
    <div><%= image_tag asset_path("top.jpeg"), class: "c" %></div>
    <div><%= image_tag asset_path("IMG_7477.jpg"), class: "c" %></div>
    <div><%= image_tag asset_path("IMG_7800.JPG"), class: "c" %></div>
    <div><%= image_tag asset_path("IMG_7787.JPG"), class: "c" %></div>
</div>