<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" >

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block img-size" src="<%= asset_path('438914-1200x700c56x50-Kaffee-mit-pflanzlicher-Milch-Barista_1200x798.jpeg') %>", alt="First slide">
    </div>
   <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
   </a>
  </div>
  
</div>