<div class="a">
    <div class="mx-5"><img class="c" src="assets/top.jpeg"></div>
    <div class="mx-5"><img class="c" src="assets/top.jpeg"></div>
    <div class="mx-5"><img class="c" src="assets/top.jpeg"></div>
</div>